In [1]:
import pandas as pd

In [2]:
# load the dataframe
df = pd.read_excel('temporary_environment_first.xlsx')

In [3]:
# Convert the time column to datetime
df['time'] = pd.to_datetime(df['time'])

In [4]:
# Extract year, month, and day from the datetime
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day
df['_id'] = df['_id']
df['img_url'] = df['img_url']

In [5]:
#Group by year, month, day and take the mean of root_length column and last value of other columns
df_last = df[['year','month','day','name','_id','img_url','t','h','c','bt']].drop_duplicates(subset=['year','month','day','_id','img_url'], keep='last')
df = df.groupby(['year','month','day','name']).agg({'t': 'mean','h': 'mean','c': 'mean','bt': 'mean'}).reset_index()
df_last.drop(['t'], axis=1, inplace=True)
df_last.drop(['h'], axis=1, inplace=True)
df_last.drop(['c'], axis=1, inplace=True)
df_last.drop(['bt'], axis=1, inplace=True)
df_last.rename(columns={'name': 'name_last'}, inplace=True)
df = df.merge(df_last, on=['year','month','day'], suffixes=('',''))
df = df.drop('name_last', axis=1)

In [6]:
df['time'] = df['year'].astype(str) + '-' + df['month'].astype(str) + '-' + df['day'].astype(str)

In [7]:
# drop the year, month and day columns
df = df.drop(columns=['year','month','day'])

In [8]:
df = df.drop_duplicates(subset=['name', 't', 'h', 'c', 'bt', 'time'], keep='last')

In [9]:
df

,name,t,h,c,bt,_id,img_url,time
14,root1,26.234000,73.282000,469.200000,24.774000,62b1d822c29475acaec0dfff,https://midbarrootimage.s3.ap-northeast-2.amaz...,2022-6-21
29,root2,25.720000,69.188000,471.600000,24.822000,62b1d822c29475acaec0dfff,https://midbarrootimage.s3.ap-northeast-2.amaz...,2022-6-21
44,root3,26.206000,68.590000,459.600000,22.950000,62b1d822c29475acaec0dfff,https://midbarrootimage.s3.ap-northeast-2.amaz...,2022-6-21
116,root1,26.192917,69.350000,469.208333,24.655833,62b329a2c29475acaec0e017,https://midbarrootimage.s3.ap-northeast-2.amaz...,2022-6-22
188,root2,25.781667,63.196667,473.708333,24.674167,62b329a2c29475acaec0e017,https://midbarrootimage.s3.ap-northeast-2.amaz...,2022-6-22
...,...,...,...,...,...,...,...,...
64977,root2,6.662500,26.406250,430.000000,3.070417,63a5138ada811403ea7a7a20,https://root3-221207.s3.ap-northeast-2.amazona...,2022-12-23
65061,root3,5.994286,28.006857,537.485714,2.904000,63a5138ada811403ea7a7a20,https://root3-221207.s3.ap-northeast-2.amazona...,2022-12-23
65109,root2,6.017292,30.457708,439.750000,2.723125,63a711c760f66814acb3db1c,https://root2-221025.s3.ap-northeast-2.amazona...,2022-12-24
65157,root2,6.372500,34.476875,439.520833,3.361458,63a8634760f66814acb3db4c,https://root2-221025.s3.ap-northeast-2.amazona...,2022-12-25
65194,root2,6.678108,35.039459,448.000000,3.704054,63a9676f60f66814acb3db71,https://root2-221025.s3.ap-northeast-2.amazona...,2022-12-26

In [10]:
# specify the output file name and path
output_file = 'temporary_preprocessed_environment_final.xlsx'

In [11]:
# write the combined data to the output file
df.to_excel(output_file, index=False)

In [12]:
root1_data = df[df['name'] == 'root1']
root2_data = df[df['name'] == 'root2']
root3_data = df[df['name'] == 'root3']

In [13]:
output_file1 = 'temporary_preprocessed_environment_root1_final.xlsx'
output_file2 = 'temporary_preprocessed_environment_root2_final.xlsx'
output_file3 = 'temporary_preprocessed_environment_root3_final.xlsx'

In [15]:
root1_data.to_excel(output_file1, index=False)
root2_data.to_excel(output_file2, index=False)
root3_data.to_excel(output_file3, index=False)