In [18]:
import pandas as pd

In [19]:
# load the dataframe
df = pd.read_excel('temporary_root_distance_thickness_first.xlsx')

In [20]:
# Convert the time column to datetime
df['time'] = pd.to_datetime(df['time'])

In [21]:
# Extract year, month, and day from the datetime
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day

In [22]:
#Group by year, month, day and take the mean of root_length column and last value of other columns
df = df.groupby(['year','month','day','name']).agg({'root_distance': 'mean', 'root_thickness': 'mean'}).reset_index()
df_last = df.groupby(['year','month','day']).last().reset_index()
df_last.drop(['root_distance'], axis=1, inplace=True)
df_last.drop(['root_thickness'], axis=1, inplace=True)
df_last.rename(columns={'name': 'name_last'}, inplace=True)
df = df.merge(df_last, on=['year','month','day'], suffixes=('',''))
df = df.drop('name_last', axis=1)

In [23]:
df['time'] = df['year'].astype(str) + '-' + df['month'].astype(str) + '-' + df['day'].astype(str)

In [24]:
# drop the year, month and day columns
df = df.drop(columns=['year','month','day'])

In [25]:
df

      name  root_distance  root_thickness        time
0    root1     382.381071      191.190536   2022-6-15
1    root1     493.316442      114.319648   2022-6-16
2    root2    1832.706987      183.270699   2022-6-16
3    root1     831.168203      117.991359   2022-6-17
4    root1    1430.733424      146.460395   2022-6-18
..     ...            ...             ...         ...
242  root3     860.691207       72.610160  2022-12-19
243  root3     889.087917       74.090660  2022-12-20
244  root3     938.340322       73.973717  2022-12-21
245  root3     990.229725       73.367257  2022-12-22
246  root3    1022.539187       68.169279  2022-12-23

[247 rows x 4 columns]

In [26]:
# specify the output file name and path
output_file = 'temporary_root_distance_thickness_final.xlsx'

In [27]:
# write the combined data to the output file
df.to_excel(output_file, index=False)